.menu{
    margin: 20px 0px 20px 0px;
    border-radius: 7px;
    border: solid 1px rgba(0, 0, 0, 0.3);
    padding: 3%;
}

.menu div{
    margin: 20px 0px 20px 0px;
}

.menu .time div{
    margin-right: 10px;
}